<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="login.css" />
    <title>Loginsivu</title>
    <link rel="icon" type="image/png" href="/kuvat/reseptiguru-logo.ico" />
  </head>
  <body>
    <div class="kirjauduppa">
      <h2>Kirjautumis sivu</h2>
      <form action="/login" method="POST">
        <label for="username">Käyttäjänimi tai Sähköposti:</label>
        <input
          type="text"
          id="identifier"
          name="identifier"
          required
        /><br /><br />

        <label for="password">Salasana:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />

        <button type="submit">Kirjaudu sisään</button>
        <p>
          Eikö sinulla ole jo tiliä? Rekisteröidy tästä
          <a href="/register">Rekisteröidy</a>
        </p>
      </form>
    </div>
  </body>
</html>
