h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.button {
  background-color: #d35400;
}

body {
  background-color: #f7f1e3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d69d70;
  text-align: center;
  padding: 20px;
  font-family: "Playfair Display", serif;
}

h2:button {
  border-radius: 8px;
  box-shadow: #333333 0px 0px 0.5px;
}
.kohta ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.keskelle {
  display: flex;
  flex-direction: row;
  padding: 5px 10px;
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.keskelle2 {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}


.keskelle2 form:last-child {
  margin-left: auto;
}

.tyyli4 {
  background-color: #d35400;
  color: white;
  padding: 10px 15px;
  margin: 0px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: "Lato";
}

.tyyli {
  background-color: #d35400;
  justify-content: space-between;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: "Lato";
}

.kohta li {
  text-align: center;
  width: 200px;
}

.kohta img {
  display: block;
  margin: 0 auto;
}

.kohta a {
  margin-top: 5px;
  color: #333333;
  text-decoration: none;
}

h2 {
  color: #333333;
}

img {
  max-width: 100px;
}
