h1 {
  color: #333333;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.button {
  background-color: #d35400;
}

body {
  background-color: #f7f1e3;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d69d70;
  text-align: center;
  padding: 20px;
  font-family: "Playfair Display", serif;
}

h2:button {
  border-radius: 8px;
  box-shadow: #333333 0px 0px 0.5px;
}
.ruokavaihtoehdot ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.napitindexsivulla {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.napitindexsivulla form:last-child {
  margin-left: auto;
}

.nappi1index {
  background-color: #d35400;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
  border-radius: 8px;
  box-shadow: #333333 5px 5px 5px;
  font-size: medium;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  margin: 10px;
}

.ruokavaihtoehdot li {
  text-align: center;
  width: 200px;
}

.ruokavaihtoehdot img {
  display: block;
  margin: 0 auto;
}

.ruokavaihtoehdot a {
  margin-top: 5px;
  color: #333333;
  text-decoration: none;
}

h2 {
  color: #333333;
}

img {
  max-width: 100px;
}
