h1 {
  color: #333333;
  text-align: center;
  font-family: "Playfair Display", sans-serif;
}

.button {
  border-radius: 8px;
}

.button:hover {
  background-color: #d35400;
}

body {
  background-color: #f7f1e3;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px auto; /* Keskittää luettelon */
  max-width: 400px; /* Rajoittaa luettelon leveyttä */
  text-align: center;
}

.oikea2 {
  text-align: right;
}

.tyyli3 {
  background-color: #d35400;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: "Lato";
}

.lepa {
  font-family: "Lato", sans-serif;
  flex-direction: column;
  align-items: center;
}

.lepa img {
  padding: 10px;
}

.header2 {
  background-color: ;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333333;
  margin-top: 5px;
}

img {
  max-width: 100px;
}

.reviews-section {
  margin-top: 2rem;
  font-family: sans-serif;
}

.avg-rating {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.review-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.review-item strong {
  font-weight: bold;
  display: block;
}

.stars {
  color: #f5c518;
  font-size: 1.2rem;
}

.review-comment {
  margin-top: 0.5rem;
  font-style: italic;
}
