h1 {
  color: #333333;
  text-align: center;
  font-family: "Caveat", cursive;
}

.button {
  border-radius: 8px;
}

.button:hover {
  background-color: #d35400;
  box-shadow: #333333 0px 0px 0.5px;
}

body {
  background-color: #f7f1e3;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  justify-content: center;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.napitreseptisivulla {
  display: flex;
  align-items: center;
}

.nappi1reseptisivu {
  display: inline-flex;
  background-color: #d35400;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
  border-radius: 8px;
  box-shadow: #333333 5px 5px 5px;
  font-size: medium;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  height: 46px;
  width: 170px;
  box-sizing: border-box;
  margin: 10px;
}

.reviewrecipe {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.reviewrecipe ul {
  text-align: left;
  display: block;
  list-style: none;
  padding: 0;
  max-width: 300px;
  text-align: center;
  min-width: 300px;
}

.tekstityylireseptisivu {
  font-family: "Lato", sans-serif;
}

.ohjereseptiin {
  max-width: 800px;
  margin: 40px auto;
  background-color: #f7f1e3;
  padding: 10px;
  border-radius: 15px;
  line-height: 1.7;
  white-space: left;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.navireseptisivu {
  background-color: #d69d70;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #333333;
  margin-top: 5px;
}

img {
  width: 350px;
  height: auto;
  margin: 10px 0 20px 0px;
  gap: 20px;
  min-width: 380px;
  box-shadow: #333333 0px 0px 5px;
}

.arvostelukohta {
  padding: 20px; 
  border-radius: 8px;
  max-width: 600px; 
  margin: 20px auto; 
}

.arvostelukohta input {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.arvostelukohta textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.arvostelukohta button {
  display: inline-flex;
  background-color: #d35400;
  color: #ffffff;
  text-decoration: none;
  border-style: none;
  border-radius: 8px;
  box-shadow: #333333 5px 5px 5px;
  font-size: medium;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

.reviews-section {
  margin-top: 2rem;
  font-family: sans-serif;
}

.avg-rating {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.review-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
  list-style: none;
}

.review-item strong {
  font-weight: bold;
  display: block;
}

.stars {
  color: #f5c518;
  font-size: 1.2rem;
}

.review-comment {
  margin-top: 0.5rem;
  font-style: italic;
}
